<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h3 class="title mb-0">Detalhe da Monografia {{ monografia.alunoNomeCompleto }}</h3>
          <div class="d-flex justify-content-end">
            <button class="btn btn-light btn-sm" [routerLink]="'/admin/monografias'">
              <i class="fas fa-arrow-left"></i> Voltar para Monografias
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6" *ngIf="monografia">
              <h3 class="mb-4"><strong class="infos">Informações da Monografia</strong></h3>
              <div class="info-item">
                <p><strong>Tema:  </strong> <span>{{ monografia.tema }}</span></p>
              </div>
              <div class="info-item">
                <p><strong>Status:</strong>
                  <span class="status" [ngClass]="{
                    'badge badge-success': monografia.status === 'APROVADO',
                    'badge badge-warning': monografia.status === 'PENDENTE',
                    'badge badge-danger': monografia.status === 'EM_REVISAO'
                  }">
                    {{ monografia.status }}
                  </span>
                </p>
              </div>
              <div class="info-item">
                <p><strong>Aluno:  </strong> <span>{{ monografia.alunoNomeCompleto }}</span></p>
              </div>

              <div class="info-item">
                <p><strong>Orientador:  </strong> <span>{{ monografia.orientadorNomeCompleto }}</span></p>
              </div>

              <div class="info-item">
                <p><strong>Curso:  </strong> <span>{{ monografia.curso }}</span></p>
              </div>

              <div class="info-item">
                <p><strong>Campo de Estudo:  </strong> <span>{{ monografia.especialidade }}</span></p>
              </div>

              <!-- Bloco condicional para descrição de melhoria ou sucesso -->
              <div class="info-item" *ngIf="monografia.status === 'APROVADO'; else descricaoMelhoria">
                <p><i class="fas fa-check-circle danger"></i>  <strong>Status Aprovado:</strong> <span class="text-danger">  Sua monografia foi aprovada com sucesso!</span></p>
              </div>

              <ng-template #descricaoMelhoria>
                <div class="info-item descricao-melhoria">
                  <p><i class="fas fa-exclamation-circle"></i><strong>Descrição de Melhoria:</strong> <span>{{ monografia.descricaoMelhoria }}</span></p>
                </div>
              </ng-template>
            </div>

            <div class="col-md-6" *ngIf="monografia">
              <h3 class="mb-4"><strong class="infos">Documentos da Monografia</strong></h3>
              <div class="documentos-container">
                <div class="documento-item">
                  <button class="btn btn-link text-decoration-none" type="button" placement="left"
                    ngbTooltip="Baixar Extrato Bancário" container="body"
                    (click)="baixarDocumento(monografia.linkExtratoBancario)">
                    <i class="fas fa-file-pdf text-danger"></i>
                    <span class="text-primary">Extrato Bancário</span>
                    <i class="fas fa-download text-success"></i>
                  </button>
                </div>

                <div class="documento-item">
                  <button class="btn btn-link text-decoration-none" type="button" placement="left"
                    ngbTooltip="Baixar Declaração de Nota" container="body"
                    (click)="baixarDocumento(monografia.linkDeclaracaoNotas)">
                    <i class="fas fa-file-pdf text-danger"></i>
                    <span class="text-primary">Declaração de Notas</span>
                    <i class="fas fa-download text-success"></i>
                  </button>
                </div>

                <div class="documento-item">
                  <button class="btn btn-link text-decoration-none" type="button" placement="left"
                    ngbTooltip="Baixar Termo do Orientador" container="body"
                    (click)="baixarDocumento(monografia.linkTermoOrientador)">
                    <i class="fas fa-file-pdf text-danger"></i>
                    <span class="text-primary">Termo do Orientador</span>
                    <i class="fas fa-download text-success"></i>
                  </button>
                </div>

                <div class="documento-item">
                  <button class="btn btn-link text-decoration-none" type="button" placement="left"
                    ngbTooltip="Baixar Projeto" container="body"
                    (click)="baixarDocumento(monografia.linkProjeto)">
                    <i class="fas fa-file-pdf text-danger"></i>
                    <span class="text-primary">Projeto</span>
                    <i class="fas fa-download text-success"></i>
                  </button>
                </div>

                <div class="documento-item">
                  <button class="btn btn-link text-decoration-none" type="button" placement="left"
                    ngbTooltip="Baixar BI" container="body"
                    (click)="baixarDocumento(monografia.linkDocumentoBi)">
                    <i class="fas fa-file-pdf text-danger"></i>
                    <span class="text-primary">Documento do BI</span>
                    <i class="fas fa-download text-success"></i>
                  </button>
                </div>

                <div class="documento-item">
                  <button class="btn btn-link text-decoration-none" type="button" placement="left"
                    ngbTooltip="Baixar Termo do Aluno" container="body"
                    (click)="baixarDocumento(monografia.linkTermoDoAluno)">
                    <i class="fas fa-file-pdf text-danger"></i>
                    <span class="text-primary">Termo do Aluno</span>
                    <i class="fas fa-download text-success"></i>
                  </button>
                </div>
                <!-- Repetir para outros documentos -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
