.tim-icons.icon-bell-55.text-danger-states {

  font-size: 24px; /* Altere o tamanho conforme necessário */
}
.chart
{
  height: 100px;
}
.fatura p {
  color: black;
}
.bg-primar{
  background-color: rgb(8, 44, 145);
}
