<div class="content">
 
  <!-- Novos Cards para Aprovado, Em_Revisao e Pendente -->
  <div class="row">
    <!-- Card para Aprovado -->
    <div class="col-lg-4">
      <div class="card card-chart chart">
        <div class="card-header">
          <h5 class="card-category">Status: Aprovado</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-check-2 text-success"></i>
            {{ estatisticasStatus.Aprovado }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartAprovado"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Card para Em Revisão -->
    <div class="col-lg-4">
      <div class="card card-chart chart">
        <div class="card-header">
          <h5 class="card-category">Status: Em Revisão</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-refresh-02 text-warning"></i>
            {{ estatisticasStatus.Em_Revisao }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartEmRevisao"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- Card para Pendente -->
    <div class="col-lg-4">
      <div class="card card-chart chart">
        <div class="card-header">
          <h5 class="card-category">Status: Pendente</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-alert-circle-exc text-danger"></i>
            {{ estatisticasStatus.Pendente }}
          </h3>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="chartPendente"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">Estatísticas da Monografia</h5>
              <h2 class="card-title">Desempenho Geral</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="estatisticaChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
