<div class="content">
  <!-- Cards para Aprovado, Em Revisão e Pendente -->
  <div class="row">
    <!-- Card para Aprovado -->
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Status: Aprovado</div>
        <div class="card-body">
          <h5 class="card-title">{{ estatisticasStatus.Aprovado }}</h5>
        </div>
      </div>
    </div>

    <!-- Card para Em Revisão -->
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Status: Em Revisão</div>
        <div class="card-body">
          <h5 class="card-title">{{ estatisticasStatus.Em_Revisao }}</h5>
        </div>
      </div>
    </div>

    <!-- Card para Pendente -->
    <div class="col-md-4">
      <div class="card text-white bg-warning mb-3">
        <div class="card-header">Status: Pendente</div>
        <div class="card-body">
          <h5 class="card-title">{{ estatisticasStatus.Pendente }}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Gráfico de Estatísticas -->
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card" style=" background-color: white;">
        <div class="card-header">
          <h5 class="card-title">Estatísticas da Monografia</h5>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative; height: 400px;  background-color: white;">
            <canvas id="estatisticaChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
