.form-control {
  color: black !important; /* Define a cor do texto como preta */
}


.badge-success {
  background-color: #28a745;
}

.badge-warning {
  background-color: #c29125;
}

.badge-danger {
  background-color: #358bdc;
}

.badge-defesa {
  background-color: #337958;
}
