
.status {
  margin: 8px;
  border-radius: 12px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 14px;
}

.badge-success {
  background-color: #28a745;
}

.badge-warning {
  background-color: #c29125;
}

.badge-danger {
  background-color: #358bdc;
}

.btn-light {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
